<div id="rapidupdown" ng-controller="RapidUpDownCtrl as ctrl">
         <div id="score">
            <span>Remaining Time: </span> {{remainingTime}}
            <span>Correct: </span> {{correct}}
            <span>Wrong: </span> {{wrong}}
        </div>
        <button ng-click="start()">Start</button>
        <button ng-click="restart()">Restart</button>
        
       

    <div class="controls">
        <div class="filler"></div>
        <button id="repeatbutton" ng-click="restart()">Restart</button>
        <div class="filler"></div>
        <button id="leftbutton" ng-click="isUp()">Up</button>
        <img src="er-apps/RapidIntervals/arrows.png">
        <button id="rightbutton" ng-click="isDown()">Down</button>
    </div>

    <div id="overlay" ng-show="showOverlay"></div>
    <div id="overlay-content" ng-show="showOverlay">
        <div class="padding5"><h1>Exercise Ends</h1></div>
        <div class="padding5"><h2>Your Score: <span id="overlay-score">{{correct}} correct</span></h2></div>
        <div class="padding5">
            <button ng-click="restart()" id="play-again">Restart</button>
            <button ng-click="closeOverlay()" id="close-overlay">Close</button>
        </div>
    <div>
</div>
