<div id="songpractice" ng-controller='SongPracticeCtrl as ctrl'>
    <!--div style="text-align: center">
    	<div id="score" style="display: inline-block;">{{score * 100 | number:0}}</div>
    </div-->
    <div><select id="song-select" ng-model="song"
				ng-options="song.name for song in songs">
					<option value="">-- Select a Song --</option>
			    </select>
			    <!-- <button ng-click="play()">Play</button> -->
    		<button id="playrecord" ng-click="playRecord()">Play Recorded</button>
    		<select ng-model="sequence"
				ng-options="sequence.name for sequence in sequences">
			    </select>
			    <label for="isLoop">Loop </label>
					<input name="isLoop" ng-model="isLoop" type="checkbox" id="isLoop" />
				<select ng-model="pitchShift" 
					ng-options="pitchShift.name for pitchShift in pitchShifts">
			    </select>
    </div>
    <div id="display"></div>
    <!-- previous/next lyrics  navigation-->
    <button id="previous-button" type="button" data-role="none" class="slick-prev slick-arrow Button icon-svg_left_arrow slick-disabled" aria-label="Previous" role="button" aria-disabled="true" style="display: block;"></button>
    <button id="next-button" type="button" data-role="none" class="slick-next slick-arrow Button icon-svg_right_arrow slick-disabled" aria-label="Next" role="button" style="display: block;" aria-disabled="false"></button>
    <div ng-if="progressBar && progressBar < 100" id="progress-container" class="Progress">
	    <div class="Progress-label">Loading: <strong>{{progressBar}}%</strong></div>
	    <progress id="progress-bar"  max="100" value="{{progressBar}}" class="Progress-main">
	        <div class="Progress-bar" role="presentation">
	            <span class="Progress-value" style="width: 80%;"> </span>
	        </div>
	    </progress>
	</div>
    <div horizontal layout center justified id="seekbarContainer">
	    <span id="time-label">0.00</span><strong> / </strong><span id="duration-label">0.00</span>
	    <div flex>
	    	<paper-slider id="seekbar" step="0.1" value="0"></paper-slider>
	    </div>
	</div>
    <div id="Bottom">
		<div id="Controls" horizontal layout center justified>
			
			<div id="PlayButton" class="Button" ng-click="playClicked()">
				<span id="play-icon" class="icon-svg_play"></span>
			</div>
				<div id="SliderContainer">
					<div class="Slider">
						<paper-slider style="height:20px" id="tempoSlider" pin ng-model="tempo" snaps step="0.25" min="0.50" max="1">
					</paper-slider>
						<!-- <input type="range" id="Range" min="70" max="200"><div id="Rail"><div id="Fill" style="width: 14px;"></div></div>
						<div id="Handle" style="left: 0px;"></div> -->
					</div>
					<div id="Hare" class="flaticon-running-stick-figure"></div><div id="Tortoise" class="flaticon-sports"></div>
			</div>
		</div>
	</div>
   
    
</div>