#songpractice {
$blue : rgb(22, 168, 240);
$lightGrey : rgb(242, 242, 242);
$darkGrey : rgb(100, 100, 100);
// aspect ratio: 20/45 (10 perc of height)
$bottomHeight : 4.4vw;
$buttonSize : 4vw;
$buttonMargin : 1vw;
$playButtonSize: 1.6vw;
$sliderBarHeight: 0.6vw;
$sliderKnobHeight: 2vw;
$seekbarHeight: 3vw;

#score {
  font-family: Wide Latin;
  font-size: 28px;
  color:#FFB729;
}

.resize {
  display: inline !important; /* show when empty */
      fill: black;
      fill-opacity: 1;
      stroke: #eeeeee;
      stroke-width: 2px;
}

.tick text {
    font-size: 0.5em;
  }

.brush .extent {
      fill-opacity: .04;
      shape-rendering: crispEdges;
    }

#seekbar {
  width:100%;
}

#seekbarContainer {
  position: absolute;
  bottom: $bottomHeight;
  height: $seekbarHeight;
  width: 100%;
}

$Margin: 12px;
$PartMargin: 10px;
$ButtonSize: 45px;
$SmallButtonSize : 30px;
$SmallScreen : 360px;

  .Button{
    width: $ButtonSize;
    height: $ButtonSize;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.4);
    line-height: $ButtonSize;
    font-size: $ButtonSize;
    text-align: center;
    color: $darkGrey;
    cursor: pointer;
    transition: transform 0.05s ease-in;

    @media screen and (max-width: $SmallScreen) {
      width: $SmallButtonSize;
      height: $SmallButtonSize;
      line-height: $SmallButtonSize;
      font-size: $SmallButtonSize;
    }
  }

  .Button:active {
    transform: scale(1.1);
    // background-color: $orange;
    // color: white;
  }

  .slick-arrow {
    position: absolute;
    top: calc(50% - 22px);
    border: none;
    color: $darkGrey;
    font-size: 0px;
  }

  .slick-arrow:before {
    top: 0px;
    position: absolute;
    left: 0px;
    font-size: 30px;
    width: 100%;
    text-align: center;

    @media screen and (max-width: $SmallScreen) {
      font-size: $SmallButtonSize;
    }
  }

  .slick-disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  .slick-prev {
    left: $Margin + $PartMargin;
  }

  .slick-next {
    right: $Margin;
  }

#Bottom {
  height: $bottomHeight;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: $lightGrey;
  box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.4);

  #Controls {
    max-width: 300px;
    width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    height: 100%;

    .Button {
      position: absolute;
      bottom: ($bottomHeight - $buttonSize) / 2;
      width: $buttonSize;
      height: $buttonSize;
      line-height: $buttonSize;
      text-align: center;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0px 3px 1px rgba(0,0,0,0.2);
      transition: transform 0.05s;
    }

    .Button:active {
      transform: scale(1.1);
    }

    #PlayButton {
      left: $buttonMargin;
      background-color: $blue;
      font-size: $playButtonSize;
      color: white;    }

    $iconWidth : 0.5vw;
    $totalButtonWidth : $buttonSize + $buttonMargin * 2 + vw;

    #SliderContainer {
      // width: calc(100% - #{$buttonSize + $buttonMargin * 2 + $iconWidth * 2});
      position: absolute;
      right: $buttonMargin + $iconWidth;
      top: 1.2vw;

      .Slider{

      }

      $iconHeight : 2vw;

      #Tortoise, #Hare {
        top: calc(50% - #{$iconHeight/2});
        position: absolute;
        height: $iconHeight;
        width: $iconWidth;
        font-size: $iconHeight;
        line-height: $iconHeight;
        pointer-events: none;
        color: $darkGrey;
      }

      #Hare {
        right: 10px;
      }

      #Tortoise {
        left: -30px;
      }
    }

    paper-slider::shadow #sliderBar {
      height: $sliderBarHeight;
    }

      paper-slider::shadow #sliderKnobInner,
      paper-slider::shadow #sliderKnobInner::before {
        background-color: $blue;
        width: $sliderKnobHeight;
        height: $sliderKnobHeight;
      }

      paper-slider::shadow #sliderBar::shadow #activeProgress {
        background-color: $blue;
      }

    paper-slider::shadow .slider-markers::after, paper-slider::shadow .slider-marker::after {
        height: $sliderBarHeight;
        background-color: white;
    }
  }

}

.icon-svg_play:before {
    content: "\25BA";
    margin-left: 5px;
}

.icon-svg_right_arrow:before {
    content: "\2794";
}

.icon-svg_left_arrow:before {
    content: "\2794";
    transform: scaleX(-1);
}

.icon-svg_pause:before {
    content: "\275A\275A";
}

svg_right_arrow {
    $char: "\E018";
  }


    svg {
      margin-top:0px;
    }
    ul {
      columns: 3;
      -webkit-columns: 3;
      -moz-columns: 3;
    }

    li button {
      width:60%;
      // font-size:10px;
      // padding:none;
      // height:15px;
    }

    li input {
      // height:15px;
      // vertical-align: bottom;
      // margin:0;
    }

    .container {
      box-sizing : border-box;
      // border:solid;
      width:100%;

      // margin : 20px 0 20px 0;
      padding:3%;
      border-top:solid; 
        // border-radius:5px;
        border-width:1px;
        border-color:#E3E3E3;
    }
    
 .axis {
      // shape-rendering: crispEdges;
    }

    .x.axis line {
      stroke: #f1f1f1;
      stroke-width: 1px;
    }

    .x.axis .minor {
      stroke-opacity: .5;
    }

    .x.axis path {
      // display: none;
      fill:none;
    }

    .y.axis line {
      stroke: #f9f9f9;
      stroke-width: 1px;
    }

    .y.axis line.highlight {
      stroke: #A1DFFF;
      stroke-width: 1px;
      opacity:0.5;
    }

    .y.axis .minor {
      stroke-opacity: .5;
    }

    .y.axis path {
      // display: none;
      fill:none;
    }

    .play {
        fill: #cccccc;
        /*fill: #666666;*/
    }

    .sing {
      fill : #05496B;
    }

    .lyrics {
      fill: #16a8f0;
      font-size: 12px;
      text-anchor : middle;
    }

    /*Variables for colours*/
    $progressBarColour: #F2F2F2;
    $progressValueColour: #17BAB3;
    /*The progress element*/
    .Progress-main {
        background-color: $progressBarColour; /*This could be any colour*/
        width: 100%;
        height: 0.3em;
        margin-top: 0.75em;
    }

    .Progress {
      position: absolute;
      width:100%;
      top:calc(50% - 2em);
    }

    .Progress-label {
      text-align: center;
    }

    /*For firefox*/
    .Progress-main::-moz-progress-bar { 
        background: $progressValueColour;
    }
    /*For webkit browsers*/
    .Progress-main::-webkit-progress-bar {
        background: $progressBarColour;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset;
    }
    .Progress-main::-webkit-progress-value {
        background: $progressValueColour;
    }

  .Progress-bar {
      margin-top: 0.95em;
      background-color: $progressBarColour;
      height: 0.3em;
  }
  .Progress-value {
      background-color: $progressValueColour;
      display: block;
      height: 0.3em;
  }

}
