<div id="songpractice" ng-controller='SongPracticeCtrl as ctrl'>
    <!--div style="text-align: center">
    	<div id="score" style="display: inline-block;">{{score * 100 | number:0}}</div>
    </div-->
    <div><select id="song-select" ng-model="song"
				ng-options="song.name for song in songs">
			    </select>
			    <!-- <button ng-click="play()">Play</button> -->
    		<button id="playrecord" ng-click="playRecord()">Play Record</button>
    		<select ng-model="sequence"
				ng-options="sequence.name for sequence in sequences">
			    </select>
			    <label for="isLoop">Loop </label>
					<input name="isLoop" ng-model="isLoop" type="checkbox" id="isLoop" />
				<select ng-model="pitchShift" 
					ng-options="pitchShift.name for pitchShift in pitchShifts">
			    </select>
    </div>
    <div id="display"></div>
    <div horizontal layout center justified id="seekbarContainer">
	    <span id="time-label">0.00</span><strong> / </strong><span id="duration-label">0.00</span>
	    <div flex>
	    	<paper-slider id="seekbar" value="0"></paper-slider>
	    </div>
	</div>
    <div id="Bottom">
		<div id="Controls" horizontal layout center justified>
			
			<div id="PlayButton" class="Button" ng-click="playClicked()">
				<span id="play-icon" class="icon-svg_play"></span>
			</div>
				<div id="SliderContainer">
					<div class="Slider">
						<paper-slider style="height:20px" id="tempoSlider" pin ng-model="tempo" snaps step="0.25" min="0.50" max="1">
					</paper-slider>
						<!-- <input type="range" id="Range" min="70" max="200"><div id="Rail"><div id="Fill" style="width: 14px;"></div></div>
						<div id="Handle" style="left: 0px;"></div> -->
					</div>
					<div id="Hare" class="icon-svg_fast_man"></div><div id="Tortoise" class="icon-svg_slow_man"></div>
			</div>
		</div>
	</div>
   
    
</div>