#swarmastery {
    .container-toplevel {
        width: 100%;
    }
  
    #chartdiv {
      margin:1% 0 0 0;
    }

    #display {
      position:relative;
    }

    #main-display {
      rect.slot {
        fill:#d3e5e0;
      }

      rect.note {
        fill:#B8DBD3;
      }
    }

    #stabalizer {
      width:40%;
      // border:solid;
      // border-width:1px;
      float:right;
      position:absolute;
      top:5%;
      right:6%;
      svg {
         border-radius:5px;
       }

       #backdrop {
        fill: #eae6d0
       }

       #refbar {
        fill:#e0ddce;
       }
    }

    .container.settings{
        // position:absolute;
        // border-bottom:solid; 
        // // border-radius:5px;
        // border-width:1px;
        // border-color:#E3E3E3;
        margin: 1% 0 0 5%;
        // padding: 1%;
    }

    #score {
      float:right;
    }

    #buttons {
      margin-left:13px;
    }
    h4 {
      font-weight: bold;
      float:left;
    }

    .close-button {
      position:absolute;
      top:0px;
      right:0px;
      width:40px;
      height:40px;
      text-align:center;
      color:black;
      text-decoration : none;
      font-size : 1.5em;
      font-weight : 300;
      &:hover {
        cursor:pointer;
        cursor:hand;
      }
    }
    

    .lablel {
      font-size : 10px;
    }
}
