#appDialog {
	width : 90%;
	height : 90%;
  display:flex;
  flex-flow:row;
  align-items:center;
  
  /deep/ #scroller {
    min-width:100%;
    min-height:100%;
    display:flex;
    flex-flow:column;
    align-items:center;
    justify-content:center;
  }

  #app-container {
    align-self:center !important;

  }


  .close-button {
    position:fixed;
    top:0px;
    right:0px;
    width:40px;
    height:40px;
    text-align:center;
    color : white;
    text-decoration : none;
    font-size : 20px;
    font-weight : 300;
    &:hover {
      cursor:pointer;
      cursor:hand;
    }
  }

  @include breakpoint($narrow-width) {
    width:100%;
    height:100%;

    .close-button {
      color:black;
    }
  }

  paper-toast {
    top: 30px;
    bottom: auto;
    left: auto;
    position:center;
    background-color: $main-color;
    color: black;
    font-size: 1.2em;
  }

   %overlay {
        margin: auto;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    #overlay {
        @extend %overlay;
        background-color: black;
        opacity: .7;
    }

    #overlay-content {
        @extend %overlay;
        text-align: center;
        color: white;
        font-size: 1.5em;
        height:20%;
        width:50%;
        .padding5 {
            padding: 0.5em;
        }

        button {
            font-size: 1em;
        }
    }

    .center {
      margin: auto;
      position: absolute;
      height:50px;
      color: red;
      font-size:3em;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 1;
    }
}