[ng-cloak] {
	display:none;
}

body .core-overlay-backdrop {
	// background-color: white;
	// background-color: #FFCCBC; #F16236; (deep)

}

body /deep/ {
	font-size:100%;
}

paper-toast {
  right: 10px;
  top: 40px;
  bottom: auto;
  left: auto;
  background-color: $main-color;
  color: black;
  font-size: 1.2em;
}