.snippet {
	background-color: white;
	margin : 20px;
	color : black;
	padding-bottom:20px;

	.clear {
		float: none;
	    clear: both;
	    height: 0;
	}

	h1 {
		display:block;
		margin-left:30px;
		padding-top:10px;
	}

	p {
		padding-top:10px;
		@include breakpoint($narrow-width) {
			padding-top:20px;
			clear:both;
		}
	}

	.info {
		margin:20px;
	}

	.thumbnail {
		width:200px;
		height:200px;
	}

	.thumb-container {
		float: left;
		margin-right:40px;
	}
}

