#journal {

    .post-box {
        width: 50%;
        margin-top: 5px;
    }
  	 textarea {
        width: 80%;    /* the inital width of the textarea */
        height: 4em;    /* the inital height of the textarea */
        max-width: 40em;    /* the maximum width of the textarea */
        max-height: 10em;    /* the maximum height of the textarea */
        padding: 1em;   /* space on all directions */
        font-family: "Montserrat", "sans-serif";
        font-size: 1.2em;
        //border: 0.1em solid #ccc;
        border: 1px solid #e1e8ed;
        border-radius: 0.5em;
        //background-color: #E5F2F7;
        border-color: #BFE0EC !important;
        //background-color: #ffffe6;
     }

     .button-box {
        width: 85%;
     }

     .button-submit {
        float: right;
        background: #0084B4;
        border-color: transparent;
        color: white;
        padding: 9px 16px 8px 17px;
        text-align: center;
        border: 1px solid transparent;
        font-size: 14px;
        font-weight: bold;
        line-height: normal;
        border-radius: 4px;
     }

     .container {
        text-align: left;
        width: 50%;
        clear: both;
     }

     .list {
        border-top: 1px solid #e1e8ed;
     }

     .item {
        background: #fff;
        border-left: 1px solid #e1e8ed;
        border-right: 1px solid #e1e8ed;
        background-clip: padding-box;
        padding: 9px 12px;
        border-bottom: 1px solid #e1e8ed;
        font-size: 14px;
        text-align: left;
        line-height: 22px;
        font-weight: 400;
     }

     .small {
        float: right;
        color: #8899a6;
        font-size: 12px;
     }

     .post-content {
        clear:both;
        font-size: 1.2em;
     }
}