#mystudents {
  margin-top:50px;
  color: black;

  a {
    color:black;
  }

  table, th, td {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
  }
}
.sortorder:after {
    content: '\25b2';
  }
  .sortorder.sortReverse:after {
    content: '\25bc';
  }
