#profile {
  	// border-bottom: 1px solid #ddd;
    margin:40px 0 0 0;
	width:500px;
  dl {
    font-size:20px;
    padding: 50px 0 40px 50px;
      	border-bottom: 1px solid #ddd;

  }
  dt {
    float: left;
    clear: left;
    width: 100px;
    text-align: left;
    font-weight: bold;
  }
   dt:after {
    content: ":";
  }
  dd {
    margin: 0 0 0 100px;
    padding: 0 0 40px 0;
  }

  button {
  	float:right;
  	width:50px;
  	// margin:-20px 0 40px 200px;
  	margin: 10px 50px 0 0;
  }
}