core-header-panel {
  background: white;
}
core-toolbar {
  // background-color: #cc000b;
  background-color: #F16236;
  // margin-left:15px;
}
#navheader {
  // background-color: #F16236;
  background-color:#F16236;
}
.content {
  padding: 20px;
}

#drawer /deep/  #mainContainer {
	// background-color: #F8BA53;
	// background-color: #efefef;
  // margin-right:20px;
  // box-shadow: 1px 1px 5px #999;
  // border-right:solid;
  // border-color:#eeeeee;
}

#drawer {
}
#drawer /deep/  #side-menu {
	// background-color: #F8BA53;
	background-color: white;
	// height:800px;
}

#main-panel /deep/  #mainContainer {
	// background-color: #F8BA53;
	// background-color: #F4F4F4;

}
/* drawer is always visible on a wide screen
   so menu button isn't required */
core-drawer-panel:not([narrow]) #navicon {
  display: none;
}

#footer {
  // width:70%;
  // height:20px;
  background:#F16236;
  // background:#eee;
  position:fixed;
  bottom:0;
  right:0;
  border-radius:10px 0 0 0;
  // padding:5px;
  // color:#652218;
  color:#222;
  // opacity:0.2;
  dl {
    float:right;
  }
  dt {  
    display:inline;
    padding: 10px 0 0 10px;
  }
      
  dd {
    font-size:80%;
    display:inline;
    // margin: 0 0 0 100px;
    padding: 10px 10px 0 0;
  }
  // margin-right:16px;
}