<div id="melodygraph" ng-controller="MelodyGraphCtrl as ctrl">
    <div class="container-toplevel">
            <div id="score">
                Accuracy: {{avgAccuracy}}
            </div>
            <div class="container">
                <div id="chartdiv"></div>
            </div>

            <div class="container settings">
                Number of Notes: <select ng-model='numNotes' ng-options='opt for opt in numNotesOpts'></select><br>
                <button class="small" ng-click="newSequence();">new</button>
                <button class="small" ng-click="repeat();">repeat</button>
                <button class="large" ng-click="playMyGraph();">play my graph</button>
                <button class="large" ng-click="showAnswer();">show answer</button>
            </div>
        </div>
</div>
