#singsargam {
  
    .score {
      float:right;
    }

    #chartdiv {
      margin:1% 0 0 0;
    }

    .line {
      fill: none;
      stroke: #999;
      stroke-width: 1.5px;
    }

    #cursor {
      stroke:red;
      stroke-width:1px;
    }

    #mainline {
      stroke:blue;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #999;
      shape-rendering: crispEdges;
    }

    #center-line {
      stroke:#999;
      stroke-width:1px;
    }

    text {
      font-size : 10px;
    }

    #feedback {
      font-weight:bold;
      padding:2% 0 0 2.5%;
      border:none;
    }

    .options {
      padding:2% 0 0 2.5%;
      border:none;
    }

    .margin-right {
        margin:0 0.5% 0 0;
    }

    text.tick {
      fill: #B03B2B;
      font-weight: bold;
    }
}
