#singsargam {
  
    #chartdiv {
      margin:1% 0 0 0;
    }

    .line {
      fill: none;
      stroke: #999;
      stroke-width: 1.5px;
    }

    #cursor {
      stroke:red;
      stroke-width:1px;
    }

    #mainline {
      stroke:blue;
    }

    .axis path,
    .axis line {
      fill: none;
      stroke: #999;
      shape-rendering: crispEdges;
    }

    #center-line {
      stroke:#999;
      stroke-width:1px;
    }

    text {
      font-size : 10px;
    }
}
