/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/pages/_common.scss */
[ng-cloak] {
  display: none;
}

/* line 11, ../sass/pages/_common.scss */
body /deep/ {
  font-size: 100%;
}

/* line 1, ../sass/pages/_front.scss */
#front {
  font-family: sans-serif;
  background-image: url('../../images/fort.jpg?1424756334'), radial-gradient(closest-side at 35% 45%, #e02006, #f16236, #e02006);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  /* Set a background color that will be displayed
     while the background image is loading */
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
}

/* line 32, ../sass/pages/_front.scss */
#front #header {
  margin-right: 30px;
  margin-top: 20px;
  height: 20%;
}
@media (max-height: 280px) {
  /* line 32, ../sass/pages/_front.scss */
  #front #header {
    height: 10%;
  }
}

/* line 42, ../sass/pages/_front.scss */
#front #intro {
  background-color: rgba(241, 98, 54, 0.5);
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  height: 70%;
  width: 50%;
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-40%, -40%);
}
@media (max-width: 640px) {
  /* line 42, ../sass/pages/_front.scss */
  #front #intro {
    width: 70%;
    transform: translate(-20%, -40%);
  }
}
@media (max-height: 420px) {
  /* line 42, ../sass/pages/_front.scss */
  #front #intro {
    height: 90%;
  }
}

/* line 65, ../sass/pages/_front.scss */
#front #login, #signup {
  color: white;
  float: right;
  text-align: right;
  width: 50px;
  text-decoration: none;
}
/* line 72, ../sass/pages/_front.scss */
#front #login:hover, #signup:hover {
  text-decoration: underline;
}

/* line 78, ../sass/pages/_front.scss */
#front #try, #try a {
  color: black;
  margin-top: 10px;
}

/* line 84, ../sass/pages/_front.scss */
#front #desc, #eriyaz, #join, #try {
  display: block;
  text-align: center;
  margin: 10px;
}

/* line 92, ../sass/pages/_front.scss */
#front #desc {
  color: black;
}

/* line 96, ../sass/pages/_front.scss */
#front #join {
  color: white;
  background-color: #652218;
  line-height: 60px;
  width: 200px;
  margin: auto;
  text-decoration: none;
  border-radius: 10px;
  border-color: #983923;
  border-width: 1px;
  border-style: solid;
  font-size: 120%;
  box-shadow: 0 0 28px 5px #652218;
}
@media (max-width: 640px), (max-height: 420px) {
  /* line 96, ../sass/pages/_front.scss */
  #front #join {
    line-height: 40px;
    width: 150px;
  }
}

/* line 117, ../sass/pages/_front.scss */
#front #join:hover {
  box-shadow: 0 0 28px 6px #652218;
  text-shadow: 0 0 15px #FFFFFF;
}

/* line 123, ../sass/pages/_front.scss */
#front #eriyaz {
  font-size: 500%;
  color: #652218;
}
@media (max-width: 640px), (max-height: 420px) {
  /* line 123, ../sass/pages/_front.scss */
  #front #eriyaz {
    font-size: 300%;
  }
}

/* line 1, ../sass/pages/_login-dialog.scss */
#loginDialog {
  border-radius: 5px;
  background-color: white;
}
/* line 17, ../sass/pages/_login-dialog.scss */
#loginDialog /deep/ h4 {
  color: #F16236;
  text-align: center;
  font-weight: 800;
  font-size: x-large;
}
/* line 24, ../sass/pages/_login-dialog.scss */
#loginDialog /deep/ #scroller {
  border-radius: 5px;
  margin: 0px;
  border: 0px;
}
/* line 30, ../sass/pages/_login-dialog.scss */
#loginDialog /deep/ input {
  display: block;
  height: 40px;
  margin-top: 5.26316%;
}
/* line 35, ../sass/pages/_login-dialog.scss */
#loginDialog /deep/ input[type="submit"] {
  width: 73.68421%;
  float: left;
  margin-right: 5.26316%;
  background-color: #F16236;
  color: white;
  font-size: 16px;
  border: none;
}
/* line 43, ../sass/pages/_login-dialog.scss */
#loginDialog /deep/ input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
@media (max-height: 280px) {
  /* line 30, ../sass/pages/_login-dialog.scss */
  #loginDialog /deep/ input {
    height: 20px;
    margin-top: none;
  }
  /* line 50, ../sass/pages/_login-dialog.scss */
  #loginDialog /deep/ input[type="submit"] {
    height: 40px;
  }
}
/* line 56, ../sass/pages/_login-dialog.scss */
#loginDialog /deep/ .or {
  width: 21.05263%;
  float: right;
  margin-right: 0;
  margin-top: 5.26316%;
}
/* line 61, ../sass/pages/_login-dialog.scss */
#loginDialog /deep/ .close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: black;
  text-decoration: none;
}
/* line 70, ../sass/pages/_login-dialog.scss */
#loginDialog /deep/ .close-button:hover {
  cursor: pointer;
  cursor: hand;
}
/* line 76, ../sass/pages/_login-dialog.scss */
#loginDialog /deep/ a {
  color: #652218;
}

/* line 1, ../sass/pages/_home.scss */
.snippet {
  background-color: white;
  margin: 20px;
  color: black;
  padding-bottom: 20px;
}
/* line 7, ../sass/pages/_home.scss */
.snippet .clear {
  float: none;
  clear: both;
  height: 0;
}
/* line 13, ../sass/pages/_home.scss */
.snippet h1 {
  display: block;
  margin-left: 30px;
  padding-top: 10px;
}
/* line 19, ../sass/pages/_home.scss */
.snippet p {
  padding-top: 10px;
}
@media (max-width: 640px) {
  /* line 19, ../sass/pages/_home.scss */
  .snippet p {
    padding-top: 20px;
    clear: both;
  }
}
/* line 27, ../sass/pages/_home.scss */
.snippet .info {
  margin: 20px;
}
/* line 31, ../sass/pages/_home.scss */
.snippet .thumbnail {
  width: 200px;
  height: 200px;
}
/* line 36, ../sass/pages/_home.scss */
.snippet .thumb-container {
  float: left;
  margin-right: 40px;
}

/* line 1, ../sass/pages/_scaffold.scss */
core-header-panel {
  background: white;
}

/* line 4, ../sass/pages/_scaffold.scss */
core-toolbar {
  background-color: #F16236;
}

/* line 9, ../sass/pages/_scaffold.scss */
#navheader {
  background-color: #F16236;
}

/* line 13, ../sass/pages/_scaffold.scss */
.content {
  padding: 20px;
}

/* line 28, ../sass/pages/_scaffold.scss */
#drawer /deep/ #side-menu {
  background-color: white;
}

/* drawer is always visible on a wide screen
   so menu button isn't required */
/* line 41, ../sass/pages/_scaffold.scss */
core-drawer-panel:not([narrow]) #navicon {
  display: none;
}

/* line 1, ../sass/pages/_app-modal.scss */
#appDialog {
  width: 90%;
  height: 90%;
  display: flex;
  flex-flow: row;
  align-items: center;
}
/* line 8, ../sass/pages/_app-modal.scss */
#appDialog /deep/ #scroller {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
/* line 17, ../sass/pages/_app-modal.scss */
#appDialog #app-container {
  align-self: center !important;
}
/* line 23, ../sass/pages/_app-modal.scss */
#appDialog .close-button {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}
/* line 34, ../sass/pages/_app-modal.scss */
#appDialog .close-button:hover {
  cursor: pointer;
  cursor: hand;
}
@media (max-width: 640px) {
  /* line 1, ../sass/pages/_app-modal.scss */
  #appDialog {
    width: 100%;
    height: 100%;
  }
  /* line 44, ../sass/pages/_app-modal.scss */
  #appDialog .close-button {
    color: black;
  }
}
/* line 49, ../sass/pages/_app-modal.scss */
#appDialog paper-toast {
  top: 30px;
  bottom: auto;
  left: auto;
  position: center;
  background-color: #F16236;
  color: black;
  font-size: 1.2em;
}

/* line 1, ../sass/pages/_profile.scss */
#profile {
  margin: 40px 0 0 0;
  width: 500px;
}
/* line 5, ../sass/pages/_profile.scss */
#profile dl {
  font-size: 20px;
  padding: 50px 0 40px 50px;
  border-bottom: 1px solid #ddd;
}
/* line 11, ../sass/pages/_profile.scss */
#profile dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: left;
  font-weight: bold;
}
/* line 18, ../sass/pages/_profile.scss */
#profile dt:after {
  content: ":";
}
/* line 21, ../sass/pages/_profile.scss */
#profile dd {
  margin: 0 0 0 100px;
  padding: 0 0 40px 0;
}
/* line 26, ../sass/pages/_profile.scss */
#profile button {
  float: right;
  width: 50px;
  margin: 10px 50px 0 0;
}

/* line 1, ../sass/pages/_mystudents.scss */
#mystudents {
  margin-top: 50px;
  color: black;
}
/* line 5, ../sass/pages/_mystudents.scss */
#mystudents a {
  color: black;
}
/* line 9, ../sass/pages/_mystudents.scss */
#mystudents ul {
  margin-left: 50px;
  list-style-type: disc;
}
/* line 15, ../sass/pages/_mystudents.scss */
#mystudents li {
  padding: 5px;
}

/* line 1, ../sass/pages/_history.scss */
#history {
  color: #99;
}
/* line 4, ../sass/pages/_history.scss */
#history #daily {
  margin: 40px 0 0 0;
  padding: 0 0 40px 0;
}
/* line 10, ../sass/pages/_history.scss */
#history h1 {
  font-weight: bold;
}
/* line 14, ../sass/pages/_history.scss */
#history h2 {
  margin: 20px 0 10px 25px;
}
/* line 19, ../sass/pages/_history.scss */
#history dl {
  margin: 0 0 0 50px;
}
/* line 23, ../sass/pages/_history.scss */
#history dt {
  float: left;
  clear: left;
  width: 200px;
  text-align: left;
}

/* line 6, ../../../er-apps/PitchDial/main.scss */
#pitch-dial .container-toplevel {
  position: relative;
  border-radius: 5px;
  border-width: 3px;
  border-color: #CCCCCC;
  width: 100%;
}
/* line 16, ../../../er-apps/PitchDial/main.scss */
#pitch-dial .container-toplevel::before {
  display: block;
  padding-top: 120%;
  content: '';
}
/* line 21, ../../../er-apps/PitchDial/main.scss */
#pitch-dial .container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 5px;
  padding: 5px;
}
/* line 35, ../../../er-apps/PitchDial/main.scss */
#pitch-dial #dial-container {
  position: absolute;
  top: 10%;
  width: 100%;
}
/* line 39, ../../../er-apps/PitchDial/main.scss */
#pitch-dial #dial-container canvas {
  width: 100%;
}
/* line 55, ../../../er-apps/PitchDial/main.scss */
#pitch-dial button {
  width: 30%;
  height: 7%;
  text-overflow: clip;
  border: none;
  border-bottom: solid;
  border-width: 1px;
  border-color: #eeeeee;
  background-color: #ffffff;
}
/* line 66, ../../../er-apps/PitchDial/main.scss */
#pitch-dial button:focus {
  outline: 0;
}
/* line 71, ../../../er-apps/PitchDial/main.scss */
#pitch-dial button:hover {
  cursor: pointer;
}
/* line 75, ../../../er-apps/PitchDial/main.scss */
#pitch-dial button:active {
  border-bottom: solid;
}

/* line 2, ../../../er-apps/SingGraph/main.scss */
#sing-graph {
  /* Axis */
  /* Resize Window */
  /* Indicator line */
}
/* line 7, ../../../er-apps/SingGraph/main.scss */
#sing-graph .axis .tick text {
  fill: black;
  font-size: 0.7em;
}
/* line 11, ../../../er-apps/SingGraph/main.scss */
#sing-graph .axis path, #sing-graph .axis line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}
/* line 19, ../../../er-apps/SingGraph/main.scss */
#sing-graph .start::before {
  content: "Start";
}
/* line 23, ../../../er-apps/SingGraph/main.scss */
#sing-graph .pause::before {
  content: "Pause";
}
/* line 27, ../../../er-apps/SingGraph/main.scss */
#sing-graph .resume::before {
  content: "Resume";
}
/* line 31, ../../../er-apps/SingGraph/main.scss */
#sing-graph .invalid {
  border-color: red;
  border-width: 1px;
}
/* line 36, ../../../er-apps/SingGraph/main.scss */
#sing-graph .container {
  margin: 5px;
  padding: 5px;
}
/* line 45, ../../../er-apps/SingGraph/main.scss */
#sing-graph .svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 46%;
  vertical-align: middle;
  overflow: hidden;
}
/* line 54, ../../../er-apps/SingGraph/main.scss */
#sing-graph .svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 61, ../../../er-apps/SingGraph/main.scss */
#sing-graph #overlay, #sing-graph #overlay-content {
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* line 73, ../../../er-apps/SingGraph/main.scss */
#sing-graph #overlay {
  background-color: black;
  opacity: .5;
}
/* line 79, ../../../er-apps/SingGraph/main.scss */
#sing-graph #overlay-content {
  text-align: center;
  color: white;
  height: 20%;
  width: 50%;
}
/* line 85, ../../../er-apps/SingGraph/main.scss */
#sing-graph #overlay-content .padding5 {
  padding: 5px;
}
/* line 90, ../../../er-apps/SingGraph/main.scss */
#sing-graph #counter {
  margin: auto;
  width: 200px;
  height: 200px;
  position: absolute;
  color: red;
  font-size: 3em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* line 105, ../../../er-apps/SingGraph/main.scss */
#sing-graph .indicatorLine {
  stroke-width: 1;
}
/* line 109, ../../../er-apps/SingGraph/main.scss */
#sing-graph .exercise {
  fill: #A8A8A8;
}
@media only screen and (max-width: 960px) {
  /* line 2, ../../../er-apps/SingGraph/main.scss */
  #sing-graph {
    /* styles for browsers smaller than 960px; 2/3rd of my desktop screen width */
  }
  /* line 115, ../../../er-apps/SingGraph/main.scss */
  #sing-graph button, #sing-graph select, #sing-graph .header {
    font-size: 0.75em;
  }
  /* line 119, ../../../er-apps/SingGraph/main.scss */
  #sing-graph button {
    padding: 1px 3px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 2, ../../../er-apps/SingGraph/main.scss */
  #sing-graph {
    /* mainly for mobile devices */
  }
  /* line 125, ../../../er-apps/SingGraph/main.scss */
  #sing-graph button, #sing-graph select, #sing-graph .header {
    font-size: 0.5em;
  }
  /* line 128, ../../../er-apps/SingGraph/main.scss */
  #sing-graph button {
    padding: 1px 2px;
  }
}
@media only screen and (max-device-width: 720px) {
  /* line 2, ../../../er-apps/SingGraph/main.scss */
  #sing-graph {
    /* mainly for mobile devices */
  }
  /* line 137, ../../../er-apps/SingGraph/main.scss */
  #sing-graph .axis .tick text {
    fill: black;
    font-size: 0.4em;
  }
  /* line 141, ../../../er-apps/SingGraph/main.scss */
  #sing-graph .axis path, #sing-graph .axis line {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
  }
}
/* line 150, ../../../er-apps/SingGraph/main.scss */
#sing-graph .settings form {
  display: table;
  font-size: 20px;
  padding: 30px 30px 30px 30px;
  border: 1px solid #ddd;
}
/* line 156, ../../../er-apps/SingGraph/main.scss */
#sing-graph .settings p {
  display: table-row;
}
/* line 159, ../../../er-apps/SingGraph/main.scss */
#sing-graph .settings label {
  display: table-cell;
  padding: 0 0 20px 0;
}
/* line 163, ../../../er-apps/SingGraph/main.scss */
#sing-graph .settings input, #sing-graph .settings select {
  display: table-cell;
  font-size: 16px;
  margin: 0 0 0 20px;
}
/* line 166, ../../../er-apps/SingGraph/main.scss */
#sing-graph .settings button {
  float: right;
  font-size: 20px;
}

/* line 2, ../../../er-apps/UpOrDown/main.scss */
#upordown .container-toplevel {
  width: 250px;
}
/* line 11, ../../../er-apps/UpOrDown/main.scss */
#upordown .container {
  border-style: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: #E3E3E3;
  margin: 5px;
  padding: 5px;
}
