/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/pages/_common.scss */
[ng-cloak] {
  display: none;
}

/* line 11, ../sass/pages/_common.scss */
body /deep/ {
  font-size: 100%;
}

/* line 17, ../sass/pages/_common.scss */
body #error {
  margin: 10%;
}
/* line 20, ../sass/pages/_common.scss */
body #error span, body #error a {
  margin-top: 3%;
  display: block;
  font-size: 25px;
}
/* line 26, ../sass/pages/_common.scss */
body #error a {
  text-align: center;
}
/* line 36, ../sass/pages/_common.scss */
body #error dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: left;
  font-weight: bold;
  padding: 10px 0 0 0;
}
/* line 45, ../sass/pages/_common.scss */
body #error dt:after {
  content: ":";
}
/* line 48, ../sass/pages/_common.scss */
body #error dd {
  padding: 10px 0 0 0;
}

/* line 1, ../sass/pages/_front.scss */
#front {
  font-family: sans-serif;
  background-image: url('../../images/fort.jpg?1424756334'), radial-gradient(closest-side at 35% 45%, #e02006, #f16236, #e02006);
  /* Background image is centered vertically and horizontally at all times */
  background-position: center center;
  /* Background image doesn't tile */
  background-repeat: no-repeat;
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  /* Set a background color that will be displayed
     while the background image is loading */
  position: absolute;
  height: 100%;
  width: 100%;
  color: white;
}

/* line 32, ../sass/pages/_front.scss */
#front #header {
  margin-right: 30px;
  margin-top: 20px;
  height: 20%;
}
@media (max-height: 280px) {
  /* line 32, ../sass/pages/_front.scss */
  #front #header {
    height: 10%;
  }
}

/* line 42, ../sass/pages/_front.scss */
#front #intro {
  background-color: rgba(241, 98, 54, 0.5);
  border-radius: 5px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
  height: 70%;
  width: 50%;
  position: absolute;
  top: 40%;
  left: 30%;
  transform: translate(-40%, -40%);
}
@media (max-width: 640px) {
  /* line 42, ../sass/pages/_front.scss */
  #front #intro {
    width: 70%;
    transform: translate(-20%, -40%);
  }
}
@media (max-height: 420px) {
  /* line 42, ../sass/pages/_front.scss */
  #front #intro {
    height: 90%;
  }
}

/* line 64, ../sass/pages/_front.scss */
#front #footer {
  margin: 0 10px 10px 0;
  color: #652218;
  position: absolute;
  bottom: 0;
  right: 0;
}
/* line 73, ../sass/pages/_front.scss */
#front #footer dt {
  display: inline;
  padding: 10px 0 0 0;
}
/* line 78, ../sass/pages/_front.scss */
#front #footer dd {
  font-size: 80%;
  display: inline;
  color: black;
  padding: 10px 0 0 0;
}
@media (max-width: 640px) {
  /* line 87, ../sass/pages/_front.scss */
  #front #footer dt {
    display: block;
    float: left;
    clear: left;
  }
  /* line 92, ../sass/pages/_front.scss */
  #front #footer dt, #front #footer dd {
    padding: 0px;
  }
  /* line 95, ../sass/pages/_front.scss */
  #front #footer core-icon {
    width: 15px;
    height: 15px;
  }
}

/* line 102, ../sass/pages/_front.scss */
#front #login, #signup {
  color: white;
  float: right;
  text-align: right;
  width: 50px;
  text-decoration: none;
}
/* line 109, ../sass/pages/_front.scss */
#front #login:hover, #signup:hover {
  text-decoration: underline;
}

/* line 115, ../sass/pages/_front.scss */
#front #try, #try a {
  color: black;
  margin-top: 10px;
}

/* line 121, ../sass/pages/_front.scss */
#front #desc, #eriyaz, #join, #try {
  display: block;
  text-align: center;
  margin: 10px;
}

/* line 129, ../sass/pages/_front.scss */
#front #desc {
  color: black;
}

/* line 133, ../sass/pages/_front.scss */
#front #join {
  color: white;
  background-color: #652218;
  line-height: 60px;
  width: 200px;
  margin: auto;
  text-decoration: none;
  border-radius: 10px;
  border-color: #983923;
  border-width: 1px;
  border-style: solid;
  font-size: 120%;
  box-shadow: 0 0 28px 5px #652218;
}
@media (max-width: 640px), (max-height: 420px) {
  /* line 133, ../sass/pages/_front.scss */
  #front #join {
    line-height: 40px;
    width: 150px;
  }
}

/* line 154, ../sass/pages/_front.scss */
#front #join:hover {
  box-shadow: 0 0 28px 6px #652218;
  text-shadow: 0 0 15px #FFFFFF;
}

/* line 160, ../sass/pages/_front.scss */
#front #eriyaz {
  font-size: 500%;
  color: #652218;
}
@media (max-width: 640px), (max-height: 420px) {
  /* line 160, ../sass/pages/_front.scss */
  #front #eriyaz {
    font-size: 300%;
  }
}

/* line 1, ../sass/pages/_login-dialog.scss */
#loginDialog {
  border-radius: 5px;
  background-color: white;
}
/* line 17, ../sass/pages/_login-dialog.scss */
#loginDialog /deep/ h4 {
  color: #F16236;
  text-align: center;
  font-weight: 800;
  font-size: x-large;
}
/* line 24, ../sass/pages/_login-dialog.scss */
#loginDialog /deep/ #scroller {
  border-radius: 5px;
  margin: 0px;
  border: 0px;
}
/* line 30, ../sass/pages/_login-dialog.scss */
#loginDialog /deep/ input {
  display: block;
  height: 40px;
  margin-top: 5.26316%;
}
/* line 35, ../sass/pages/_login-dialog.scss */
#loginDialog /deep/ input[type="submit"] {
  width: 73.68421%;
  float: left;
  margin-right: 5.26316%;
  background-color: #F16236;
  color: white;
  font-size: 16px;
  border: none;
}
/* line 43, ../sass/pages/_login-dialog.scss */
#loginDialog /deep/ input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
@media (max-height: 280px) {
  /* line 30, ../sass/pages/_login-dialog.scss */
  #loginDialog /deep/ input {
    height: 20px;
    margin-top: none;
  }
  /* line 50, ../sass/pages/_login-dialog.scss */
  #loginDialog /deep/ input[type="submit"] {
    height: 40px;
  }
}
/* line 56, ../sass/pages/_login-dialog.scss */
#loginDialog /deep/ .or {
  width: 21.05263%;
  float: right;
  margin-right: 0;
  margin-top: 5.26316%;
}
/* line 61, ../sass/pages/_login-dialog.scss */
#loginDialog /deep/ .close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: black;
  text-decoration: none;
}
/* line 70, ../sass/pages/_login-dialog.scss */
#loginDialog /deep/ .close-button:hover {
  cursor: pointer;
  cursor: hand;
}
/* line 76, ../sass/pages/_login-dialog.scss */
#loginDialog /deep/ a {
  color: #652218;
}

/* line 1, ../sass/pages/_home.scss */
.snippet {
  background-color: white;
  margin: 20px;
  color: black;
  padding-bottom: 20px;
}
/* line 7, ../sass/pages/_home.scss */
.snippet .clear {
  float: none;
  clear: both;
  height: 0;
}
/* line 13, ../sass/pages/_home.scss */
.snippet h1 {
  display: block;
  margin-left: 30px;
  padding-top: 10px;
}
/* line 19, ../sass/pages/_home.scss */
.snippet p {
  padding-top: 10px;
}
@media (max-width: 640px) {
  /* line 19, ../sass/pages/_home.scss */
  .snippet p {
    padding-top: 20px;
    clear: both;
  }
}
/* line 27, ../sass/pages/_home.scss */
.snippet .info {
  margin: 20px;
}
/* line 31, ../sass/pages/_home.scss */
.snippet .thumbnail {
  width: 200px;
  height: 200px;
}
/* line 36, ../sass/pages/_home.scss */
.snippet .thumb-container {
  float: left;
  margin-right: 40px;
}

/* line 1, ../sass/pages/_scaffold.scss */
core-header-panel {
  background: white;
}

/* line 4, ../sass/pages/_scaffold.scss */
core-toolbar {
  background-color: #F16236;
}

/* line 9, ../sass/pages/_scaffold.scss */
#navheader {
  background-color: #F16236;
}

/* line 13, ../sass/pages/_scaffold.scss */
.content {
  padding: 20px;
}

/* line 28, ../sass/pages/_scaffold.scss */
#drawer /deep/ #side-menu {
  background-color: white;
}

/* drawer is always visible on a wide screen
   so menu button isn't required */
/* line 41, ../sass/pages/_scaffold.scss */
core-drawer-panel:not([narrow]) #navicon {
  display: none;
}

/* line 1, ../sass/pages/_app-modal.scss */
#appDialog {
  width: 90%;
  height: 90%;
  display: flex;
  flex-flow: row;
  align-items: center;
}
/* line 8, ../sass/pages/_app-modal.scss */
#appDialog /deep/ #scroller {
  min-width: 100%;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
/* line 17, ../sass/pages/_app-modal.scss */
#appDialog #app-container {
  align-self: center !important;
}
/* line 23, ../sass/pages/_app-modal.scss */
#appDialog .close-button {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 300;
}
/* line 34, ../sass/pages/_app-modal.scss */
#appDialog .close-button:hover {
  cursor: pointer;
  cursor: hand;
}
@media (max-width: 640px) {
  /* line 1, ../sass/pages/_app-modal.scss */
  #appDialog {
    width: 100%;
    height: 100%;
  }
  /* line 44, ../sass/pages/_app-modal.scss */
  #appDialog .close-button {
    color: black;
  }
}
/* line 49, ../sass/pages/_app-modal.scss */
#appDialog paper-toast {
  top: 30px;
  bottom: auto;
  left: auto;
  position: center;
  background-color: #F16236;
  color: black;
  font-size: 1.2em;
}
/* line 59, ../sass/pages/_app-modal.scss */
#appDialog #overlay, #appDialog #overlay-content {
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* line 71, ../sass/pages/_app-modal.scss */
#appDialog #overlay {
  background-color: black;
  opacity: .7;
}
/* line 77, ../sass/pages/_app-modal.scss */
#appDialog #overlay-content {
  text-align: center;
  color: white;
  font-size: 1.5em;
  height: 20%;
  width: 50%;
}
/* line 84, ../sass/pages/_app-modal.scss */
#appDialog #overlay-content .padding5 {
  padding: 0.5em;
}
/* line 88, ../sass/pages/_app-modal.scss */
#appDialog #overlay-content button {
  font-size: 1em;
}

/* line 1, ../sass/pages/_profile.scss */
#profile {
  margin: 40px 0 0 0;
  width: 500px;
}
/* line 5, ../sass/pages/_profile.scss */
#profile dl {
  font-size: 20px;
  padding: 50px 0 40px 50px;
  border-bottom: 1px solid #ddd;
}
/* line 11, ../sass/pages/_profile.scss */
#profile dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: left;
  font-weight: bold;
}
/* line 18, ../sass/pages/_profile.scss */
#profile dt:after {
  content: ":";
}
/* line 21, ../sass/pages/_profile.scss */
#profile dd {
  margin: 0 0 0 100px;
  padding: 0 0 40px 0;
}
/* line 26, ../sass/pages/_profile.scss */
#profile button {
  float: right;
  width: 50px;
  margin: 10px 50px 0 0;
}

/* line 1, ../sass/pages/_mystudents.scss */
#mystudents {
  margin-top: 50px;
  color: black;
}
/* line 5, ../sass/pages/_mystudents.scss */
#mystudents a {
  color: black;
}
/* line 9, ../sass/pages/_mystudents.scss */
#mystudents ul {
  margin-left: 50px;
  list-style-type: disc;
}
/* line 15, ../sass/pages/_mystudents.scss */
#mystudents li {
  padding: 5px;
}

/* line 1, ../sass/pages/_history.scss */
#history {
  color: #99;
}
/* line 4, ../sass/pages/_history.scss */
#history #daily {
  margin: 40px 0 0 0;
  padding: 0 0 40px 0;
}
/* line 10, ../sass/pages/_history.scss */
#history h1 {
  font-weight: bold;
}
/* line 14, ../sass/pages/_history.scss */
#history h2 {
  margin: 20px 0 10px 25px;
}
/* line 19, ../sass/pages/_history.scss */
#history dl {
  margin: 0 0 0 50px;
}
/* line 23, ../sass/pages/_history.scss */
#history dt {
  float: left;
  clear: left;
  width: 200px;
  text-align: left;
}

/* line 1, ../sass/pages/_contact.scss */
#contact {
  margin: 5%;
}
/* line 5, ../sass/pages/_contact.scss */
#contact span {
  margin-top: 3%;
  display: block;
  font-size: 15px;
}
/* line 13, ../sass/pages/_contact.scss */
#contact dl {
  padding: 20px 0 0 10px;
}
/* line 19, ../sass/pages/_contact.scss */
#contact dt {
  float: left;
  clear: left;
  width: 30px;
  text-align: left;
  font-weight: bold;
  padding: 10px 0 0 0;
}
/* line 29, ../sass/pages/_contact.scss */
#contact dd {
  padding: 15px 0 0 0;
}

/* line 6, ../../../er-apps/PitchDial/main.scss */
#pitch-dial .container-toplevel {
  position: relative;
  border-radius: 5px;
  border-width: 3px;
  border-color: #CCCCCC;
  width: 100%;
}
/* line 16, ../../../er-apps/PitchDial/main.scss */
#pitch-dial .container-toplevel::before {
  display: block;
  padding-top: 120%;
  content: '';
}
/* line 21, ../../../er-apps/PitchDial/main.scss */
#pitch-dial .container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 5px;
  padding: 5px;
}
/* line 35, ../../../er-apps/PitchDial/main.scss */
#pitch-dial #progress-overlay {
  float: left;
  margin-left: 12px;
  clear: both;
}
/* line 40, ../../../er-apps/PitchDial/main.scss */
#pitch-dial #progress-overlay span {
  display: inline-block;
  vertical-align: text-top;
  margin-top: -5px;
}
/* line 48, ../../../er-apps/PitchDial/main.scss */
#pitch-dial #dial-container {
  position: absolute;
  top: 10%;
  width: 100%;
}
/* line 52, ../../../er-apps/PitchDial/main.scss */
#pitch-dial #dial-container canvas {
  width: 100%;
}
/* line 68, ../../../er-apps/PitchDial/main.scss */
#pitch-dial paper-icon-button {
  margin-top: -10px;
  float: left;
}
/* line 73, ../../../er-apps/PitchDial/main.scss */
#pitch-dial #scale {
  float: left;
}
/* line 77, ../../../er-apps/PitchDial/main.scss */
#pitch-dial button {
  width: 30%;
  text-overflow: clip;
}
/* line 83, ../../../er-apps/PitchDial/main.scss */
#pitch-dial button:focus {
  outline: 0;
}
/* line 88, ../../../er-apps/PitchDial/main.scss */
#pitch-dial button:hover {
  cursor: pointer;
}
/* line 92, ../../../er-apps/PitchDial/main.scss */
#pitch-dial button:active {
  border-bottom: solid;
}

/* line 2, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars {
  /* Axis */
  /* Resize Window */
  /* Indicator line */
}
/* line 7, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars .axis .tick text {
  fill: black;
  font-size: 0.7em;
}
/* line 11, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars .axis path, #sing-alankars .axis line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}
/* line 19, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars .start::before {
  content: "Start";
}
/* line 23, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars .pause::before {
  content: "Pause";
}
/* line 27, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars .resume::before {
  content: "Resume";
}
/* line 31, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars .reset::before {
  content: "Reset";
}
/* line 35, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars .invalid {
  border-color: red;
  border-width: 1px;
}
/* line 40, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars .container {
  margin: 5px;
  padding: 5px;
}
/* line 49, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars .svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 46%;
  vertical-align: middle;
  overflow: hidden;
}
/* line 58, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars .svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
/* line 65, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars #overlay, #sing-alankars #overlay-content {
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* line 77, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars #overlay {
  background-color: black;
  opacity: .5;
}
/* line 83, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars #overlay-content {
  text-align: center;
  color: white;
  height: 20%;
  width: 50%;
}
/* line 89, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars #overlay-content .padding5 {
  padding: 5px;
}
/* line 94, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars .center {
  margin: auto;
  position: absolute;
  width: 150px;
  height: 50px;
  color: red;
  font-size: 5em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/* line 108, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars .close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 300;
}
/* line 119, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars .close-button:hover {
  cursor: pointer;
  cursor: hand;
}
/* line 126, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars .indicatorLine {
  stroke-width: 1;
}
/* line 130, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars .exercise {
  fill: #A8A8A8;
}
@media only screen and (max-width: 960px) {
  /* line 2, ../../../er-apps/SingAlankars/main.scss */
  #sing-alankars {
    /* styles for browsers smaller than 960px; 2/3rd of my desktop screen width */
  }
  /* line 136, ../../../er-apps/SingAlankars/main.scss */
  #sing-alankars button, #sing-alankars select, #sing-alankars .header {
    font-size: 0.75em;
  }
  /* line 140, ../../../er-apps/SingAlankars/main.scss */
  #sing-alankars button {
    padding: 1px 3px;
  }
}
@media only screen and (max-width: 480px) {
  /* line 2, ../../../er-apps/SingAlankars/main.scss */
  #sing-alankars {
    /* mainly for mobile devices */
  }
  /* line 146, ../../../er-apps/SingAlankars/main.scss */
  #sing-alankars button, #sing-alankars select, #sing-alankars .header {
    font-size: 0.5em;
  }
  /* line 149, ../../../er-apps/SingAlankars/main.scss */
  #sing-alankars button {
    padding: 1px 2px;
  }
}
@media only screen and (max-device-width: 720px) {
  /* line 2, ../../../er-apps/SingAlankars/main.scss */
  #sing-alankars {
    /* mainly for mobile devices */
  }
  /* line 158, ../../../er-apps/SingAlankars/main.scss */
  #sing-alankars .axis .tick text {
    fill: black;
    font-size: 0.4em;
  }
  /* line 162, ../../../er-apps/SingAlankars/main.scss */
  #sing-alankars .axis path, #sing-alankars .axis line {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
  }
}
/* line 171, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars .settings form {
  display: table;
  font-size: 20px;
  padding: 30px 30px 30px 30px;
  border: 1px solid #ddd;
}
/* line 177, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars .settings p {
  display: table-row;
}
/* line 180, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars .settings label {
  display: table-cell;
  padding: 0 0 20px 0;
}
/* line 184, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars .settings input, #sing-alankars .settings select {
  display: table-cell;
  font-size: 16px;
  margin: 0 0 0 20px;
}
/* line 191, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars .settings button {
  float: right;
  font-size: 20px;
}
/* line 196, ../../../er-apps/SingAlankars/main.scss */
#sing-alankars paper-slider {
  width: 130px;
}

/* line 2, ../../../er-apps/UpOrDown/main.scss */
#upordown .container-toplevel {
  width: 100%;
}
/* line 11, ../../../er-apps/UpOrDown/main.scss */
#upordown #backdrop {
  fill: #252525;
}
/* line 14, ../../../er-apps/UpOrDown/main.scss */
#upordown h4 {
  margin-bottom: 15px;
}
/* line 20, ../../../er-apps/UpOrDown/main.scss */
#upordown #display, #upordown #top-panel, #upordown #bottom-panel {
  width: 95%;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}
/* line 27, ../../../er-apps/UpOrDown/main.scss */
#upordown #score {
  float: right;
  margin-right: 5px;
}

/* line 2, ../../../er-apps/MelodyGraph/main.scss */
#melodygraph .container-toplevel {
  width: 100%;
}
/* line 14, ../../../er-apps/MelodyGraph/main.scss */
#melodygraph #chartdiv {
  margin: 1% 0 0 0;
}
/* line 18, ../../../er-apps/MelodyGraph/main.scss */
#melodygraph .container.settings {
  margin: 1% 0 0 5%;
}
/* line 28, ../../../er-apps/MelodyGraph/main.scss */
#melodygraph button {
  height: 25px;
  text-overflow: clip;
}
/* line 32, ../../../er-apps/MelodyGraph/main.scss */
#melodygraph button.small {
  width: 15%;
}
/* line 35, ../../../er-apps/MelodyGraph/main.scss */
#melodygraph button.large {
  width: 25%;
}
/* line 39, ../../../er-apps/MelodyGraph/main.scss */
#melodygraph rect {
  fill: none;
  pointer-events: all;
}
/* line 44, ../../../er-apps/MelodyGraph/main.scss */
#melodygraph circle.big {
  fill: #fff;
  stroke-opacity: 0;
  fill-opacity: .1;
  cursor: move;
  stroke: #eee;
  stroke-width: 1.5px;
}
/* line 54, ../../../er-apps/MelodyGraph/main.scss */
#melodygraph circle.small {
  fill: steelblue;
  stroke-opacity: 0;
  fill-opacity: 1;
  cursor: move;
  stroke: #eee;
  stroke-width: 1.5px;
}
/* line 65, ../../../er-apps/MelodyGraph/main.scss */
#melodygraph circle.big.selected {
  fill: steelblue;
  stroke: steelblue;
}
/* line 70, ../../../er-apps/MelodyGraph/main.scss */
#melodygraph circle.ans {
  fill: green;
}
/* line 74, ../../../er-apps/MelodyGraph/main.scss */
#melodygraph #guess {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
/* line 80, ../../../er-apps/MelodyGraph/main.scss */
#melodygraph #ans {
  fill: none;
  stroke: green;
  stroke-width: 2px;
}
/* line 91, ../../../er-apps/MelodyGraph/main.scss */
#melodygraph .x.axis line {
  stroke: #ccc;
  stroke-width: 1px;
}
/* line 96, ../../../er-apps/MelodyGraph/main.scss */
#melodygraph .x.axis .minor {
  stroke-opacity: .5;
}
/* line 100, ../../../er-apps/MelodyGraph/main.scss */
#melodygraph .x.axis path {
  fill: none;
}
/* line 105, ../../../er-apps/MelodyGraph/main.scss */
#melodygraph .y.axis line, #melodygraph .y.axis path {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}
/* line 111, ../../../er-apps/MelodyGraph/main.scss */
#melodygraph #center-line {
  stroke: #999;
  stroke-width: 1px;
}

/* line 2, ../../../er-apps/SwarSpace/main.scss */
#swarspace #score {
  float: right;
  margin-right: 10px;
}
/* line 5, ../../../er-apps/SwarSpace/main.scss */
#swarspace #score dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: left;
}
/* line 13, ../../../er-apps/SwarSpace/main.scss */
#swarspace #score dt:after {
  content: ":";
}
/* line 16, ../../../er-apps/SwarSpace/main.scss */
#swarspace #score dd {
  margin: 0 0 0 100px;
  color: darkgrey;
}
/* line 22, ../../../er-apps/SwarSpace/main.scss */
#swarspace svg {
  margin-top: 15px;
}
/* line 26, ../../../er-apps/SwarSpace/main.scss */
#swarspace line {
  stroke: #ccc;
  stroke-width: 1px;
}
/* line 31, ../../../er-apps/SwarSpace/main.scss */
#swarspace .y.axis line, #swarspace .y.axis path {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}
/* line 38, ../../../er-apps/SwarSpace/main.scss */
#swarspace #guessBar {
  fill: blue;
}
/* line 42, ../../../er-apps/SwarSpace/main.scss */
#swarspace #arrow {
  fill: darkgrey;
}
/* line 46, ../../../er-apps/SwarSpace/main.scss */
#swarspace #ansBar {
  fill: green;
}

/* line 3, ../../../er-apps/SwarPosition/main.scss */
#swarposition #score {
  float: right;
  margin-right: 10px;
}
/* line 8, ../../../er-apps/SwarPosition/main.scss */
#swarposition svg {
  margin-top: 3%;
}
/* line 12, ../../../er-apps/SwarPosition/main.scss */
#swarposition rect.slot {
  fill: #E3F2FD;
}
/* line 16, ../../../er-apps/SwarPosition/main.scss */
#swarposition rect.note, #swarposition rect.selectable {
  fill: #BBDEFB;
}
/* line 21, ../../../er-apps/SwarPosition/main.scss */
#swarposition rect.selectable:hover {
  fill: #C5CAE9;
}
/* line 26, ../../../er-apps/SwarPosition/main.scss */
#swarposition g.marked rect {
  fill: #C5CAE9;
}
/* line 30, ../../../er-apps/SwarPosition/main.scss */
#swarposition #marker {
  fill: #333;
}
/* line 35, ../../../er-apps/SwarPosition/main.scss */
#swarposition #feedback {
  font-size: 30px;
}

/* line 2, ../../../er-apps/ThatMemorizer/main.scss */
#thatmemorizer #score {
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
/* line 6, ../../../er-apps/ThatMemorizer/main.scss */
#thatmemorizer #score dt {
  float: left;
  clear: left;
  width: 100px;
  text-align: left;
}
/* line 14, ../../../er-apps/ThatMemorizer/main.scss */
#thatmemorizer #score dt:after {
  content: ":";
}
/* line 17, ../../../er-apps/ThatMemorizer/main.scss */
#thatmemorizer #score dd {
  margin: 0 0 0 100px;
}
/* line 24, ../../../er-apps/ThatMemorizer/main.scss */
#thatmemorizer svg {
  margin-top: 10px;
}
/* line 27, ../../../er-apps/ThatMemorizer/main.scss */
#thatmemorizer ul {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3;
}
/* line 33, ../../../er-apps/ThatMemorizer/main.scss */
#thatmemorizer li button {
  width: 60%;
}
/* line 46, ../../../er-apps/ThatMemorizer/main.scss */
#thatmemorizer .container {
  box-sizing: border-box;
  width: 100%;
  padding: 3%;
  border-top: solid;
  border-width: 1px;
  border-color: #E3E3E3;
}
/* line 59, ../../../er-apps/ThatMemorizer/main.scss */
#thatmemorizer #feedback {
  font-weight: bold;
  border: none;
}

/* line 2, ../../../er-apps/SingGraph/main.scss */
#singgraph .container-toplevel {
  width: 100%;
}
/* line 14, ../../../er-apps/SingGraph/main.scss */
#singgraph #chartdiv {
  margin: 1% 0 0 0;
}
/* line 18, ../../../er-apps/SingGraph/main.scss */
#singgraph .container.settings {
  margin: 1% 0 0 5%;
}
/* line 29, ../../../er-apps/SingGraph/main.scss */
#singgraph .line {
  fill: none;
  stroke: #999;
  stroke-width: 1.5px;
}
/* line 35, ../../../er-apps/SingGraph/main.scss */
#singgraph #mainline {
  stroke: blue;
}
/* line 39, ../../../er-apps/SingGraph/main.scss */
#singgraph .axis path,
#singgraph .axis line {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}
/* line 46, ../../../er-apps/SingGraph/main.scss */
#singgraph #center-line {
  stroke: #999;
  stroke-width: 1px;
}
/* line 51, ../../../er-apps/SingGraph/main.scss */
#singgraph text {
  font-size: 10px;
}

/* line 2, ../../../er-apps/VoiceMatch/main.scss */
#voicematch .container-toplevel {
  width: 100%;
}
/* line 7, ../../../er-apps/VoiceMatch/main.scss */
#voicematch #chartdiv {
  margin: 1% 0 0 0;
}
/* line 11, ../../../er-apps/VoiceMatch/main.scss */
#voicematch .container.settings {
  margin: 1% 0 0 5%;
}
/* line 21, ../../../er-apps/VoiceMatch/main.scss */
#voicematch #score {
  float: right;
}
/* line 25, ../../../er-apps/VoiceMatch/main.scss */
#voicematch paper-icon-button, #voicematch button, #voicematch select {
  float: left;
}
/* line 29, ../../../er-apps/VoiceMatch/main.scss */
#voicematch paper-icon-button {
  margin-top: -5px;
}
/* line 33, ../../../er-apps/VoiceMatch/main.scss */
#voicematch button, #voicematch select {
  margin: 5px 0 0 2px;
}
/* line 37, ../../../er-apps/VoiceMatch/main.scss */
#voicematch button {
  font-size: 0.73em;
}

/* line 2, ../../../er-apps/FreestylePhrases/main.scss */
#freestylephrases .container-toplevel {
  width: 100%;
}
/* line 14, ../../../er-apps/FreestylePhrases/main.scss */
#freestylephrases #chartdiv {
  margin: 1% 0 0 0;
}
/* line 18, ../../../er-apps/FreestylePhrases/main.scss */
#freestylephrases .container.settings {
  margin: 1% 0 0 5%;
}
/* line 29, ../../../er-apps/FreestylePhrases/main.scss */
#freestylephrases .line {
  fill: none;
  stroke: #999;
  stroke-width: 1.5px;
}
/* line 35, ../../../er-apps/FreestylePhrases/main.scss */
#freestylephrases #cursor {
  stroke: red;
  stroke-width: 1px;
}
/* line 40, ../../../er-apps/FreestylePhrases/main.scss */
#freestylephrases #mainline {
  stroke: blue;
}
/* line 44, ../../../er-apps/FreestylePhrases/main.scss */
#freestylephrases .axis path,
#freestylephrases .axis line {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}
/* line 51, ../../../er-apps/FreestylePhrases/main.scss */
#freestylephrases #center-line {
  stroke: #999;
  stroke-width: 1px;
}
/* line 56, ../../../er-apps/FreestylePhrases/main.scss */
#freestylephrases text {
  font-size: 10px;
}

/* line 2, ../../../er-apps/SwarMastery/main.scss */
#swarmastery .container-toplevel {
  width: 100%;
}
/* line 6, ../../../er-apps/SwarMastery/main.scss */
#swarmastery #chartdiv {
  margin: 1% 0 0 0;
}
/* line 10, ../../../er-apps/SwarMastery/main.scss */
#swarmastery #display {
  position: relative;
}
/* line 15, ../../../er-apps/SwarMastery/main.scss */
#swarmastery #main-display rect.slot {
  fill: #d3e5e0;
}
/* line 19, ../../../er-apps/SwarMastery/main.scss */
#swarmastery #main-display rect.note {
  fill: #B8DBD3;
}
/* line 24, ../../../er-apps/SwarMastery/main.scss */
#swarmastery #stabalizer {
  width: 40%;
  float: right;
  position: absolute;
  top: 5%;
  right: 6%;
}
/* line 32, ../../../er-apps/SwarMastery/main.scss */
#swarmastery #stabalizer svg {
  border-radius: 5px;
}
/* line 36, ../../../er-apps/SwarMastery/main.scss */
#swarmastery #stabalizer #backdrop {
  fill: #eae6d0;
}
/* line 40, ../../../er-apps/SwarMastery/main.scss */
#swarmastery #stabalizer #refbar {
  fill: #e0ddce;
}
/* line 45, ../../../er-apps/SwarMastery/main.scss */
#swarmastery .container.settings {
  margin: 1% 0 0 5%;
}
/* line 55, ../../../er-apps/SwarMastery/main.scss */
#swarmastery #score {
  float: right;
}
/* line 59, ../../../er-apps/SwarMastery/main.scss */
#swarmastery #buttons {
  margin-left: 13px;
}
/* line 62, ../../../er-apps/SwarMastery/main.scss */
#swarmastery h4 {
  font-weight: bold;
  float: left;
}
/* line 67, ../../../er-apps/SwarMastery/main.scss */
#swarmastery .close-button {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 40px;
  height: 40px;
  text-align: center;
  color: black;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: 300;
}
/* line 78, ../../../er-apps/SwarMastery/main.scss */
#swarmastery .close-button:hover {
  cursor: pointer;
  cursor: hand;
}
/* line 85, ../../../er-apps/SwarMastery/main.scss */
#swarmastery .lablel {
  font-size: 10px;
}

/* line 2, ../../../er-apps/MelodyGraph2/main.scss */
#melodygraph2 .container-toplevel {
  width: 100%;
}
/* line 14, ../../../er-apps/MelodyGraph2/main.scss */
#melodygraph2 #chartdiv {
  margin: 1% 0 0 0;
}
/* line 18, ../../../er-apps/MelodyGraph2/main.scss */
#melodygraph2 .container.settings {
  margin: 1% 0 0 5%;
}
/* line 28, ../../../er-apps/MelodyGraph2/main.scss */
#melodygraph2 button {
  height: 25px;
  text-overflow: clip;
}
/* line 32, ../../../er-apps/MelodyGraph2/main.scss */
#melodygraph2 button.small {
  width: 15%;
}
/* line 35, ../../../er-apps/MelodyGraph2/main.scss */
#melodygraph2 button.large {
  width: 25%;
}
/* line 39, ../../../er-apps/MelodyGraph2/main.scss */
#melodygraph2 rect {
  fill: none;
  pointer-events: all;
}
/* line 44, ../../../er-apps/MelodyGraph2/main.scss */
#melodygraph2 #selrect {
  fill: steelblue;
  opacity: 0.1;
}
/* line 48, ../../../er-apps/MelodyGraph2/main.scss */
#melodygraph2 circle.big {
  fill: #fff;
  stroke-opacity: 0;
  fill-opacity: .1;
  cursor: move;
  stroke: #eee;
  stroke-width: 1.5px;
}
/* line 58, ../../../er-apps/MelodyGraph2/main.scss */
#melodygraph2 circle.small {
  fill: steelblue;
  stroke-opacity: 0;
  fill-opacity: 1;
  cursor: move;
  stroke: #eee;
  stroke-width: 1.5px;
}
/* line 68, ../../../er-apps/MelodyGraph2/main.scss */
#melodygraph2 circle.small.selected {
  fill: red;
}
/* line 72, ../../../er-apps/MelodyGraph2/main.scss */
#melodygraph2 circle.big.selected {
  fill: steelblue;
  stroke: steelblue;
}
/* line 77, ../../../er-apps/MelodyGraph2/main.scss */
#melodygraph2 circle.ans {
  fill: green;
}
/* line 81, ../../../er-apps/MelodyGraph2/main.scss */
#melodygraph2 #guess {
  fill: none;
  stroke: steelblue;
  stroke-width: 2px;
}
/* line 87, ../../../er-apps/MelodyGraph2/main.scss */
#melodygraph2 #ans {
  fill: none;
  stroke: green;
  stroke-width: 2px;
}
/* line 98, ../../../er-apps/MelodyGraph2/main.scss */
#melodygraph2 .x.axis line {
  stroke: #ccc;
  stroke-width: 1px;
}
/* line 103, ../../../er-apps/MelodyGraph2/main.scss */
#melodygraph2 .x.axis .minor {
  stroke-opacity: .5;
}
/* line 107, ../../../er-apps/MelodyGraph2/main.scss */
#melodygraph2 .x.axis path {
  fill: none;
}
/* line 112, ../../../er-apps/MelodyGraph2/main.scss */
#melodygraph2 .y.axis line, #melodygraph2 .y.axis path {
  fill: none;
  stroke: #ccc;
  stroke-width: 1px;
}
/* line 118, ../../../er-apps/MelodyGraph2/main.scss */
#melodygraph2 #center-line {
  stroke: #999;
  stroke-width: 1px;
}
