
<div id="front">
	
	<div id="intro" ng-controller="FrontCtrl">

		<div id="header">
		    <a href="#login" id="login" ng-click="uiModel.showLoginDialog='true'">login</a>
		    <a href="#signup" id="signup">signup</a>
	    </div>
		<span id="eriyaz">eRiyaz</span>
		<span id="desc"> Learn to Sing faster with fun Apps & Games  </span>
		<a href="#signup" id="join">Join Now!</a>
		<span id="try">... or <a href="" ng-click="loginasguest();"> try as guest</a></span>

		<div id="footer">
			<!-- <h6>Contact Us: </h6> -->
			<dl>
				<dt><core-icon icon="mail" size="5"></core-icon></dt>
				<dd>eriyazonline@gmail.com</dd>
				<dt><core-icon icon="settings-phone"></core-icon></dt>
				<dd>+91 9623443789</dd>
			</dl>
		</div>
	</div>

</div>