
<!-- <link rel="import" 
  href="../external-libs/bower_components/paper-dialog/paper-action-dialog.html"> -->

<paper-action-dialog backdrop autoCloseDisabled layered="false" opened={{uiModel.showLoginDialog}} id="loginDialog">
	<a href="#" class="close-button" >x</a>

	<!-- <div ng-switch on="loginSignupDialogModel.selection"> -->
		<!-- <div ng-switch-when="login"> -->
		<div ng-if="loginSignupDialogModel.selection == 'login'">
			<form ng-submit="submit()" ng-controller="LoginCtrl">
				<h4>Log In</h4>

				<input type="text" name="email" placeholder="email" ng-model="email">
				<input type="password" name="password" placeholder="password" ng-model="password" >
				<input type="submit" value="Log In">
				{{flashMessage}}
				<span class="or">or <a href ng-click="loginSignupDialogModel.selection='signup'">signup</a></span>

			</form>
		</div>
		<!-- <div ng-switch-when="signup"> -->
		<div ng-if="loginSignupDialogModel.selection == 'signup'">
			<form ng-submit="submit()" ng-controller="SignupCtrl">
				<h4>Sign Up</h4>
				<input type="text" name="email" placeholder="email" ng-model="email">
				<input type="password" name="password" placeholder="password" ng-model="password">
				<input type="submit" value="Sign Up">
				{{flashMessage}}
				</form>
				<span class="or">or <a href ng-click="loginSignupDialogModel.selection='login'">login</a></span>

		</div>
	<!-- </div> -->
</paper-action-dialog>