<!-- <link rel="import" 
  href="../external-libs/bower_components/paper-shadow/paper-shadow.html"> -->
<div id="mystudents">
	<div ng-controller='MyStudentsCtrl'>
		<table>
			<thead>
					<tr>
    					<td> <a href="" ng-click="sortType = 'name'; sortReverse = !sortReverse">Name</a>
    					<span class="sortorder" ng-show="sortType === 'name'" ng-class="{sortReverse:sortReverse}"></span></td>
    					<td><a href="" ng-click="sortType = 'local.email'; sortReverse = !sortReverse">email</a>
    					<span class="sortorder" ng-show="sortType === 'local.email'" ng-class="{sortReverse:sortReverse}"></span></td>
  					</tr>
  			</thead>
			<tr ng-repeat="student in students | orderBy:sortType:sortReverse">
				<td><a href="#history/{{student._id}}">{{student.name}}</a></td>
				<td><a href="#history/{{student._id}}">{{student.local.email}}</a></td>
			</tr>
		</table>
	</div>
</div>


