<!-- <link rel="import" 
  href="../external-libs/bower_components/paper-shadow/paper-shadow.html"> -->
<div id="profile" ng-controller="ProfileCtrl">
	<div ng-hide="editing">
		<dl>
			<dt>Name</dt>
			<dd>{{user.name}}</dd>
			
			<dt>D.O.B</dt>
			<dd>{{user.dob | date:'dd/MM/yyyy'}}</dd>

			<dt>Gender</dt>
			<dd>{{user.gender}}</dd>

			<dt>Phone</dt>
			<dd>{{user.phone}}</dd>
			
			<dt>Teacher</dt>
			<dd>{{myteacher.name}}</dd>
		</dl>
		<button ng-click="editing = true">Edit</button>
		<!-- <div style="clear:both"></div> -->
	</div>
	<form ng-show="editing"> 
		<dl>
			<dt>Name</dt>
			<dd><input type="text" ng-model="user.name"></dd>
			
			<dt>D.O.B</dt>
			<dd><input type="date" ng-model="user.dob"></dd>

			<dt>Gender</dt>
			<dd>
				<input type="radio" name="gender" value="man" ng-model="user.gender">Man
				<input type="radio" name="gender" value="woman" ng-model="user.gender">Woman
				<input type="radio" name="gender" value="child" ng-model="user.gender">Child
			</dd>

			<dt>Phone</dt>
			<dd><input type="text" ng-model="user.phone"></dd>

			<dt>Teacher</dt>
			<dd>
				<select ng-model="myteacher" 
					ng-options="teacher.name for teacher in teachers track by teacher._id"> 
				 	<option value=''>none</option>	
				</select>
			</dd>
		</dl>
		<button type="submit" ng-click="updateProfile()">Save</button>
		<!-- <div style="clear:both"></div> -->
	</form>
</div>
