<!-- <link rel="import" 
  href="../external-libs/bower_components/paper-shadow/paper-shadow.html"> -->
<div id="profile" ng-controller="ProfileCtrl">
	<div ng-hide="editing" ng-click="editing = true">
		<dl>
			<dt>First Name: </dt>
			<dd>{{user.firstname}}</dd>
			<dt>Last Name: </dt>
			<dd>{{user.lastname}}</dd>
		</dl>
		<button ng-click="editing = true">Edit</button>
	</div>
	<form ng-show="editing"  ng-submit="editing = false"> 
		<dl>
			<dt>First Name: </dt>
			<dd><input type="textarea" ng-model="user.firstname"></dd>
			<dt>Last Name: </dt>
			<dd><input type="textarea" ng-model="user.lastname"></dd>
		</dl>
		<button type="submit" ng-click="editing = false">Save</button>
	</form>
</div>
