#sargammemorizer {

    #score {
      float:right;
      margin-right: 10px;
    }

    svg {
      margin-top:3%;
    }

    rect.slot {
      fill:#fff3ef;
    }

    rect.note,rect.selectable {
      fill:#fcdcd4;
     
    }

    rect.selectable:hover {
        fill:#BDA59F;
    }

    g.marked rect{
      fill:#BDA59F;
    }

    g.marked rect.upOrDown {
        fill:#FAC4B6;
    }

    g.marked rect.upOrDown:hover {
        fill:#BDA59F;
    }

    g.marked rect.selected {
        fill:#BDA59F;
    }

    #marker {
      fill:#333;
      // fill:black;
    }

    #feedback {
      font-size:30px;
    } 
}
