<div id="sargammemorizer" ng-controller='SargamMemorizerCtrl as ctrl'>
	<div class="buttons">
        <button ng-click="newInterval();" ng-disabled="isLooping()">New</button>
        <button ng-click="repeatPlay();" ng-disabled="isLooping()">Repeat</button>
         <select ng-model="level" ng-options="l.name for l in levels">
        </select>
        <button ng-click="playPureNotes();" ng-disabled="isLooping()">Pure Notes</button>
    <div id="score">  <span>Remaining: </span>
            {{level.total - count}}
            <span> Score: </span>
            {{right*100/count  | number:0}}%
     </div>
	<div id="display">
	</div>

    <div id="overlay" ng-show="showOverlay"></div>
        <div id="overlay-content" ng-show="showOverlay">
            <div class="padding5"><h1>Exercise Ends</h1></div>
            <div class="padding5"><h2>Your Score: <span id="overlay-score">{{right*100/count  | number:0}}%</span></h2></div>
            <div class="padding5">
                <button ng-click="restart()" id="play-again">Restart</button>
                <button ng-click="closeOverlay()" id="close-overlay">Close</button>
            </div>
        <div>
</div>