#pitch-dial .container-toplevel {
  position: relative;
  border-radius: 5px;
  border-width: 3px;
  border-color: #CCCCCC;
  width: 100%;
}
#pitch-dial .container-toplevel::before {
  display: block;
  padding-top: 120%;
  content: '';
}
#pitch-dial .container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 5px;
  padding: 5px;
}
#pitch-dial #dial-container {
  position: absolute;
  top: 10%;
  width: 100%;
}
#pitch-dial #dial-container canvas {
  width: 100%;
}
#pitch-dial button {
  width: 30%;
  height: 7%;
  text-overflow: clip;
  border: none;
  border-bottom: solid;
  border-width: 1px;
  border-color: #eeeeee;
  background-color: #ffffff;
}
#pitch-dial button:focus {
  outline: 0;
}
#pitch-dial button:hover {
  cursor: pointer;
}
#pitch-dial button:active {
  border-bottom: solid;
}

#sing-graph {
  /* Axis */
  /* Resize Window */
  /* Indicator line */
}
#sing-graph .axis .tick text {
  fill: black;
  font-size: 0.7em;
}
#sing-graph .axis path, #sing-graph .axis line {
  fill: none;
  stroke: black;
  stroke-width: 1px;
}
#sing-graph .start::before {
  content: "Start";
}
#sing-graph .pause::before {
  content: "Pause";
}
#sing-graph .resume::before {
  content: "Resume";
}
#sing-graph .invalid {
  border-color: red;
  border-width: 1px;
}
#sing-graph .container {
  margin: 5px;
  padding: 5px;
}
#sing-graph .svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 46%;
  vertical-align: middle;
  overflow: hidden;
}
#sing-graph .svg-content {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
#sing-graph #overlay, #sing-graph #overlay-content {
  margin: auto;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
#sing-graph #overlay {
  background-color: black;
  opacity: .5;
}
#sing-graph #overlay-content {
  text-align: center;
  color: white;
  height: 20%;
  width: 50%;
}
#sing-graph #overlay-content .padding5 {
  padding: 5px;
}
#sing-graph #counter {
  margin: auto;
  width: 200px;
  height: 200px;
  position: absolute;
  color: red;
  font-size: 3em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}
#sing-graph .indicatorLine {
  stroke-width: 1;
}
#sing-graph .exercise {
  fill: #A8A8A8;
}
@media only screen and (max-width: 960px) {
  #sing-graph {
    /* styles for browsers smaller than 960px; 2/3rd of my desktop screen width */
  }
  #sing-graph button, #sing-graph select, #sing-graph .header {
    font-size: 0.75em;
  }
  #sing-graph button {
    padding: 1px 3px;
  }
}
@media only screen and (max-width: 480px) {
  #sing-graph {
    /* mainly for mobile devices */
  }
  #sing-graph button, #sing-graph select, #sing-graph .header {
    font-size: 0.5em;
  }
  #sing-graph button {
    padding: 1px 2px;
  }
}
@media only screen and (max-device-width: 720px) {
  #sing-graph {
    /* mainly for mobile devices */
  }
  #sing-graph .axis .tick text {
    fill: black;
    font-size: 0.4em;
  }
  #sing-graph .axis path, #sing-graph .axis line {
    fill: none;
    stroke: black;
    stroke-width: 0.5px;
  }
}
#sing-graph .settings form {
  display: table;
  font-size: 20px;
  padding: 30px 30px 30px 30px;
  border: 1px solid #ddd;
}
#sing-graph .settings p {
  display: table-row;
}
#sing-graph .settings label {
  display: table-cell;
  padding: 0 0 20px 0;
}
#sing-graph .settings input, #sing-graph .settings select {
  display: table-cell;
  font-size: 16px;
  margin: 0 0 0 20px;
}
#sing-graph .settings button {
  float: right;
  font-size: 20px;
}
