<div id="voicematch" ng-controller="VoiceMatchCtrl as ctrl">
    <div horizontal layout center justified>
        <div>
            <paper-icon-button icon="settings-voice" ng-click="startMic()"></paper-icon-button>
        </div>
        <div>
            <select ng-model="gender">
                <option value="">--Set User--</option>
                <option value="woman">Woman</option>
                <option value="child">Child</option>
                <option value="man">Man</option>
            </select>
            <button ng-click="new()" ng-disabled="isPending || !signalOn || !gender">New</button>
            <button ng-click="repeat()" ng-disabled="!signalOn">Repeat</button>
            <select ng-model="level" ng-options="l.name for l in levels"></select>
        </div>
        <div flex></div>
        <div>Score: {{right}}/{{total}}</div>
    </div>
    <div id="chartdiv"></div>
    <overlay restart="restart()" right='right' level='level' total='total' />
</div>
