#voicematch {
    #chartdiv {
      margin:1% 0 0 0;
    }

    button {
      font-size:0.73em;
    }

  .key {
	  stroke-width: 1.5px;
	  transition: fill 250ms linear, stroke 250ms linear;
	}

	.key--white { fill: #fff; stroke: #777; }
	.key--black { fill: #333; stroke: #000; }

  .arrow{
    stroke-width:2;
    stroke:#777;
  }
}
