<div id="sing-graph" ng-controller="SingGraphCtrl">
	<div>
		<div style="float: left;">
			<label for="exerciseId">Exercises:</label>
			<select ng-model="myExercise" ng-class="{invalid:myExercise==null&&toastMessageDisplayed}"
			ng-options="exercise.name for exercise in exercises">
		   		<option value="">-- Select Exercise --</option>
		    </select>
			<button ng-click="startOrPause()" ng-class="{start:operation==='start', pause:operation==='pause', resume:operation==='resume'||operation==='over'}" ng-disabled="operation==='over'"></button>
			<button ng-click="reset()" ng-disabled="operation==='start'">Reset</button>
			<!-- <button id="play">Play Instrument</button>
			<input type = "checkbox" checked = "checked" id = "instrumentEnabled" />
	 		<label for = "instrumentEnabled">Play Instrument</label>
	 		<button id="setRoot">Set Root</button>
		    <button id="playRoot">Play Root</button> -->
			
		</div>
		<div style="float: right;">
			<span>Last Score: </span><span id='lastScore'>{{lastScore*100 | number:0}}%</span>
			<span>Total Score: </span><span id='totalScore'>{{totalScore*100 | number:0}}%</span>
		</div>
	</div>
	<div id="containerId">
		<div ng-sing-graph class='svg-container' id="chart-box"></div>
	</div>
	<div id="overlay" ng-show="showOverlay"></div>
	<div id="overlay-content" ng-show="showOverlay">
	  	<div class="padding5"><h1>EXERCISE ENDS</h1></div>
	  	<div class="padding5"><h2>YOUR SCORE: <span id="overlay-score">{{totalScore*100 | number:0}}%</span></h2></div>
	  	<div class="padding5">
	  		<button ng-click="closeOverlay()" id="close-overlay">Close</button>
	  		<button ng-click="restart()" id="play-again">Replay</button>
	  		<button ng-click="next()" id="next-exercise">Next</button>
	  	</div>
	<div>
</div>