<div id="upordown" ng-controller="UpOrDownCtrl as ctrl">
    <div class="container-toplevel">
     <div id="score">
            <span>Remaining: </span>
            {{levels[selectedLevelIdx].total - count}}
            <span> Score: </span>
            {{right*100/count  | number:0}}%
        </div>
        <div id="top-panel">
            <button ng-click='newProblem()'>New</button>
            <button ng-click='repeat()'>Repeat</button>
            <!-- <button ng-click='check()'>Check</button> -->
            <select ng-model="selectedLevelIdx">
                <option ng-repeat="level in levels">{{level.name}}</option> 
            </select>
        </div>
       

        <div id="display">
        </div>
        

      
        <div id="bottom-panel">
            <h4>From note {{testNotes[0]}} to note {{testNotes[1]}}, is it Up or Down? </h4>
            <button ng-click='isUp();'>UP</button>
            <button ng-click='isDown();'>DOWN</button>
        </div>

        

       
    </div>
</div>
