#upordown {
    .container-toplevel {
        // position:relative;
        // border-style:solid; 
        // border-radius:5px;
        // border-width:3px;
        // border-color:#CCCCCC;
        width: 250px;
    }

    .container {
        border-style:solid; 
        border-radius:5px;
        border-width:1px;
        border-color:#E3E3E3;
        margin: 5px;
        padding: 5px;
    }
    

}
