<div id="freestylephrases" ng-controller="FreestylePhrasesCtrl as ctrl">
    <div class="container-toplevel">
            <div class="container settings">
	            <button ng-click="startMic()">MIC</button>
		        <button id="setRoot" ng-click="start()">Start</button>
                <button id="playRoot" ng-click="stop()">Stop</button>
		        <button id="playRoot" ng-click="stop()">Replay</button>

            </div>

            <div class="container">
                <div id="chartdiv"></div>
            </div>

            
        </div>
</div>
