<div id="rapidintervals" ng-controller="RapidIntervalsCtrl as ctrl">
    <div class="container-toplevel">
     <div id="score">
            <span>Remaining: </span>
            {{level.total - count}}
            <span> Score: </span>
            {{right*100/count  | number:0}}%
        </div>
        
        <div id="top-panel" >
            <button ng-click='newProblem()'>New</button>
            <button ng-click='repeat()' ng-disabled="!repeatBtn">Repeat</button>
            <select ng-model="level" ng-options="l.name for l in levels">
            </select>
        </div>
        
        <div id="display">
        </div>
        

      
        <div id="bottom-panel">
            <h4>From note {{testNotes[0]}} to note {{testNotes[1]}}, is it Up or Down? </h4>
            <button ng-click='isUp();' ng-disabled="!repBtn">UP</button>
            <button ng-click='isDown();' ng-disabled="!repBtn">DOWN</button>
        </div>

        <div id="overlay" ng-show="showOverlay"></div>
        <div id="overlay-content" ng-show="showOverlay">
            <div class="padding5"><h1>Exercise Ends</h1></div>
            <div class="padding5"><h2>Your Score: <span id="overlay-score">{{right*100/count  | number:0}}%</span></h2></div>
            <div class="padding5">
                <button ng-click="restart()" id="play-again">Restart</button>
                <button ng-click="closeOverlay()" id="close-overlay">Close</button>
            </div>
        <div>
    </div>
</div>
