#swarrelation {

    #score {
      float:right;
      margin-right: 10px;
    }

    // div.buttons {
    //   margin:10px 0 0 30px;
    // }

    svg {
      margin-top:3%;
    }

    rect.slot {
      fill:#E3F2FD;
    }

    rect.note {
      fill:#BBDEFB;
      &:hover {
        fill:#C5CAE9;
      }
    }

    rect.selector {
      fill:#C5CAE9;
    }

    rect.root {
      fill:#C5CAE9;
    }

    #marker {
      fill:#333;
    }

    #feedback {
      font-size:30px;
    }
}
