#pitch-dial .container-toplevel {
    border-style:solid; 
    border-radius:5px;
    border-width:3px;
    border-color:#CCCCCC;
    width:333px;
}

#pitch-dial .container {
    margin: 5px;
    padding: 5px;
	
}