<div id="swarspace" ng-controller='SwarSpaceCtrl as ctrl'>
	<div class="container">
        <button ng-click="newInterval();">New</button>
        <button ng-click="repeatPlay();">Repeat</button>
        <button ng-click="checkAnswer();">Check</button>
        <dl id="score">
        	<dt>Attempts</dt>
        	<dd>{{attempts}}</dd>

        	<dt>Off By</dt> 
        	<dd>{{error}}%</dd>
        	
        	<dt>Avg Error</dt>
        	<dd>{{avgError}}%</dd>
	    </dl>
    </div>
	<div id="display">
	</div>
</div>