<div id="swarspace" ng-controller='SwarSpaceCtrl as ctrl'>
	<div class="container">
        <button ng-click="newInterval();">New</button>
        <button ng-click="repeatPlay();">Repeat</button>
        <button ng-click="checkAnswer();">Check</button>
         <select ng-model="level" ng-options="l.name for l in levels"></select>
        <dl id="score">
        	<dt>Attempts</dt>
        	<dd>{{attempts}}</dd>

        	<dt>Accuracy</dt> 
        	<dd>{{accuracy*100 | number:0}}%</dd>
        	
        	<dt>Avg Accuracy</dt>
        	<dd>{{avgAccuracy*100 | number:0}}%</dd>
	    </dl>
    </div>
	<div id="display">
	</div>
</div>