@import "breakpoint";
$landscape : min-aspect-ratio 1/1;

#pitch-dial {

	.container-toplevel {
		position:relative;
    	// border-style:solid; 
    	border-radius:5px;
    	border-width:3px;
    	border-color:#CCCCCC;
    	// width:300px;
    	width:100%;
    	// height:100%;
	}
	.container-toplevel::before {
		display:block;
		padding-top:120%;
		content:'';
	}
 	.container {
 		position:absolute;
    	top: 0;
		left: 0;
		bottom: 0;
		right: 0;

    	margin: 5px;
    	padding: 5px;

    	// width:100%;
    	// padding-bottom:100%;
	}

	#progress-overlay {
		float:left;
		margin-left:12px;
		clear:both;
		// line-height: 2.5%;
		span {
		  display: inline-block;
		  vertical-align: text-top;
		  margin-top:-5px;
		}

	}

	#dial-container {
		position:absolute;
		top:10%;
		width:100%;
		canvas {

			width:100%;
			// @include breakpoint($landscape) {
			// 	@media screen and (min-aspect-ratio: 1/1) {
			// 	height:100%;
			// 	width:auto;
			// }
			// height:100%;
			// width:100%;
			// max-height:100%;
			// width:auto;
			// height:700px;
		}
	}

	paper-icon-button {
		margin-top:-10px;
		float:left;
	}

	#scale {
		// display:inline;
		float:left;
	}
	button {
		width : 30%;
		// height: 7%;
		text-overflow:clip;

		
		&:focus {
			outline:0;

		}

		&:hover {
			cursor:pointer;
		}

		&:active {
			border-bottom:solid;
		}
	}


}